<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/trainline"></property>
		<property name="username" value="root"></property>
		<property name="password" value="119848"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>cn/com/model/Course.hbm.xml</value>
				<value>cn/com/model/Tiezi.hbm.xml</value>
				<value>cn/com/model/Testarrangement.hbm.xml</value>
				<value>cn/com/model/Tcomment.hbm.xml</value>
				<value>cn/com/model/Resourseandcatelogue.hbm.xml</value>
				<value>cn/com/model/Userandquestion.hbm.xml</value>
				<value>cn/com/model/Classanduser.hbm.xml</value>
				<value>cn/com/model/Personalinformation.hbm.xml</value>
				<value>cn/com/model/Mailaccessory.hbm.xml</value>
				<value>cn/com/model/Trainingclass.hbm.xml</value>
				<value>cn/com/model/Tieziaccessory.hbm.xml</value>
				<value>cn/com/model/Questionarrangement.hbm.xml</value>
				<value>cn/com/model/Mail.hbm.xml</value>
				<value>cn/com/model/Jobtechnicalgrade.hbm.xml</value>
				<value>cn/com/model/Questionnairerubric.hbm.xml</value>
				<value>cn/com/model/Topic.hbm.xml</value>
				<value>cn/com/model/Company.hbm.xml</value>
				<value>cn/com/model/Majorqualification.hbm.xml</value>
				<value>
					cn/com/model/Practisingcertificate.hbm.xml
				</value>
				<value>cn/com/model/Theme.hbm.xml</value>
				<value>cn/com/model/Testquestion.hbm.xml</value>
				<value>cn/com/model/Discuss.hbm.xml</value>
				<value>cn/com/model/User.hbm.xml</value>
				<value>cn/com/model/Notice.hbm.xml</value>
				<value>cn/com/model/Post.hbm.xml</value>
				<value>cn/com/model/Record.hbm.xml</value>
				<value>cn/com/model/Catalogue.hbm.xml</value>
				<value>cn/com/model/Educationbackground.hbm.xml</value>
				<value>cn/com/model/Userandcourse.hbm.xml</value>
				<value>cn/com/model/Noticetype.hbm.xml</value>
				<value>cn/com/model/Booktype.hbm.xml</value>
				<value>cn/com/model/Userandmail.hbm.xml</value>
				<value>cn/com/model/Classcase.hbm.xml</value>
				<value>cn/com/model/Questionnaire.hbm.xml</value>
				<value>cn/com/model/Testpaper.hbm.xml</value>
				<value>cn/com/model/Resource.hbm.xml</value>
				<value>cn/com/model/Book.hbm.xml</value>
				<value>cn/com/model/Certificatetype.hbm.xml</value>
				<value>cn/com/model/Credential.hbm.xml</value>
				<value>cn/com/model/Note.hbm.xml</value>
				<value>cn/com/model/Classandcourse.hbm.xml</value></list>
		</property></bean>
	<bean id="CourseDAO" class="cn.com.dao.CourseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TieziDAO" class="cn.com.dao.TieziDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TestarrangementDAO"
		class="cn.com.dao.TestarrangementDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TcommentDAO" class="cn.com.dao.TcommentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ResourseandcatelogueDAO"
		class="cn.com.dao.ResourseandcatelogueDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserandquestionDAO"
		class="cn.com.dao.UserandquestionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ClassanduserDAO" class="cn.com.dao.ClassanduserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PersonalinformationDAO"
		class="cn.com.dao.PersonalinformationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MailaccessoryDAO" class="cn.com.dao.MailaccessoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TrainingclassDAO" class="cn.com.dao.TrainingclassDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TieziaccessoryDAO"
		class="cn.com.dao.TieziaccessoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="QuestionarrangementDAO"
		class="cn.com.dao.QuestionarrangementDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MailDAO" class="cn.com.dao.MailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="JobtechnicalgradeDAO"
		class="cn.com.dao.JobtechnicalgradeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="QuestionnairerubricDAO"
		class="cn.com.dao.QuestionnairerubricDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TopicDAO" class="cn.com.dao.TopicDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CompanyDAO" class="cn.com.dao.CompanyDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MajorqualificationDAO"
		class="cn.com.dao.MajorqualificationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PractisingcertificateDAO"
		class="cn.com.dao.PractisingcertificateDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ThemeDAO" class="cn.com.dao.ThemeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TestquestionDAO" class="cn.com.dao.TestquestionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="DiscussDAO" class="cn.com.dao.DiscussDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserDAO" class="cn.com.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="NoticeDAO" class="cn.com.dao.NoticeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PostDAO" class="cn.com.dao.PostDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RecordDAO" class="cn.com.dao.RecordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CatalogueDAO" class="cn.com.dao.CatalogueDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="EducationbackgroundDAO"
		class="cn.com.dao.EducationbackgroundDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserandcourseDAO" class="cn.com.dao.UserandcourseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="NoticetypeDAO" class="cn.com.dao.NoticetypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BooktypeDAO" class="cn.com.dao.BooktypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserandmailDAO" class="cn.com.dao.UserandmailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ClasscaseDAO" class="cn.com.dao.ClasscaseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="QuestionnaireDAO" class="cn.com.dao.QuestionnaireDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TestpaperDAO" class="cn.com.dao.TestpaperDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ResourceDAO" class="cn.com.dao.ResourceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BookDAO" class="cn.com.dao.BookDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CertificatetypeDAO"
		class="cn.com.dao.CertificatetypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CredentialDAO" class="cn.com.dao.CredentialDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="NoteDAO" class="cn.com.dao.NoteDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ClassandcourseDAO"
		class="cn.com.dao.ClassandcourseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>