<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	
		<bean id="liberaryAction" class="cn.com.action.LiberaryAction" scope="prototype">
			<property name="liberaryService" ref="liberaryService"></property>
			
		</bean>
	
	<bean id="forumAction" class="cn.com.action.ForumAction">
	         <property name="forumService" ref="forumService"></property>
	    </bean>
	
		<bean id="userAction" class="cn.com.action.UserAction" scope="prototype">
			<property name="userService" ref="userService"></property>
		</bean>
		
		<bean id="questionnarieAction" class="cn.com.action.QuestionnaireAction" scope="prototype">
	<property name="questionnairerService" ref="questionnairerService"></property>
	</bean>
	
	<bean id="questionnairerubricAction" class="cn.com.action.QuestionnaireRubricAction">
	<property name="questionnairerubricService" ref="questionnairerubricService"></property>
	</bean>
	
	<bean id="courseAction" class="cn.com.action.CourseAction" scope="prototype">
	<property name="courseService" ref="courseService"></property>
	</bean>
	
	<bean id="noteAction" class="cn.com.action.NoteAction" scope="prototype">
	<property name="noteService" ref="noteService"></property>
	</bean>
	
	<bean id="testquestionAction" class="cn.com.action.TestquestionAction" scope="prototype">
	<property name="testQuestionService" ref="testQuestionService"></property>
	</bean>
	
	<bean id="testPaperAction" class="cn.com.action.TestPaperAction" scope="prototype">
	<property name="testPaperService" ref="testPaperService"></property>
	</bean>
	
	<bean id="testArrangementAction" class="cn.com.action.TestArrangementAction" scope="prototype">
	<property name="testArrangementService" ref="testArrangementService"></property>
	</bean>
	
	<bean id="trainingClassAction" class="cn.com.action.TrainingClassAction" scope="prototype">
	<property name="trainingClassService" ref="trainingClassService"></property>
	</bean>
	
	<bean id="credentialAction" class="cn.com.action.CredentialAction" scope="prototype"> 
	<property name="credentialService" ref="credentialService"></property>
	</bean>
	
	<bean id="humanAction" class="cn.com.action.HumanAction" scope="prototype"> 
	<property name="humanService" ref="humanService"></property>
	</bean>
		
	</beans>
