<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="liberaryService" class="cn.com.service.LiberaryService" scope="prototype">
		<property name="bookDAO" ref="BookDAO"></property>
		<property name="bookTypeDAO" ref="BooktypeDAO"></property>
		<property name="uploadUtil" ref="uploadUtil"></property>
	</bean>
	
	<bean id="forumService" class="cn.com.service.ForumService" scope="prototype">
	   <property name="themeDAO" ref="ThemeDAO"></property>
	</bean>
	
	<bean id="userService" class="cn.com.service.UserService" scope="prototype">
		<property name="userDAO" ref="UserDAO"></property>
	</bean>
	
	<bean id="questionnairerService" class="cn.com.service.QuestionnaireService">
		<property name="questionnaireDAO" ref="QuestionnaireDAO"></property>
	</bean>
	
	

	<bean id="questionnairerubricService" class="cn.com.service.QuestionnairerubricService">
		<property name="questionnairerubricDAO" ref="QuestionnairerubricDAO"></property>
	</bean>

	<bean id="courseService" class="cn.com.service.CourseService">
		<property name="courseDAO" ref="CourseDAO"></property>
		<property name="catalogueDAO" ref="CatalogueDAO"></property>
		<property name="resourseandcatelogueDAO" ref="ResourseandcatelogueDAO"></property>
	</bean>

	<bean id="noteService" class="cn.com.service.NoteService">
		<property name="noteDAO" ref="NoteDAO"></property>
	</bean>

	<bean id="testQuestionService" class="cn.com.service.TestQuestionService">
		<property name="testquestionDAO" ref="TestquestionDAO"></property>
	</bean>

	<bean id="testPaperService" class="cn.com.service.TestPaperService">
		<property name="testpaperDAO" ref="TestpaperDAO"></property>
	</bean>

	<bean id="testArrangementService" class="cn.com.service.TestArrangementService">
		<property name="testarrangementDAO" ref="TestarrangementDAO"></property>
	</bean>

	<bean id="trainingClassService" class="cn.com.service.TrainingClassService">
		<property name="trainingclassDAO" ref="TrainingclassDAO"></property>
	</bean>

	<bean id="credentialService" class="cn.com.service.CredentialService">
		<property name="credentialDAO" ref="CredentialDAO"></property>
	</bean>
	
	<bean id="humanService" class="cn.com.service.HumanService">
		<property name="userDAO" ref="UserDAO"></property>
		<property name="companyDAO" ref="CompanyDAO"></property>
		<property name="departmentDAO" ref="DepartmentDAO"></property>
		<property name="positionDAO" ref="PositionDAO"></property>
	</bean>
	

	</beans>
