@import url("confirm.css");
*{margin:0px;padding:0px;list-style:none;font-weight:normal;}
body{font-size:12px;color:#555; font-family:Lucida Grande, Verdana, Sans-serif;background-color:white}
h3{font-size:16px;display:inline;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:bold}
img{border:0}
a{text-decoration:none;}
a:link, a:visited{color:#39749F}
a:hover, a:active{color:#CF0022;text-decoration:underline;}

input[type="text"],textarea,select{border-top:1px solid #999999;border-left:1px solid #999999;border-right:1px solid #E8E8E8;border-bottom:1px solid #E8E8E8;background-color:white;color:#555;opacity: 0.9}
input[type="text"]{height:20px;line-height:20px;}
select {-x-system-font:none;background:white;font-size-adjust:none;line-height:22px;height:22px;padding:1px;vertical-align:top;font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;}
input[type="text"]:focus ,select:focus,textarea:focus{border-color:#11A3EA;border-right:1px solid #69D7FF;border-bottom:1px solid #69D7FF;color:#0F4987;}
input[type="text"]:hover ,select:hover,textarea:hover{border-color:#11A3EA;border-right:1px solid #69D7FF;border-bottom:1px solid #69D7FF;}

.opt_clear{float:none !important;clear:both !important;height:0px !important;line-height:0px !important;font-size:0px !important; padding:0px !important;margin:0px !important;}
.hand{cursor:pointer;}
.top{vertical-align:top;}

#header{width:976px;margin: 10px auto 0px auto;height:84px;_height:84px;background:url("../images/ver2/bg_header.png") repeat-x bottom;}

.head_logo{margin:10px;float:left}
.head_logo h3{position:relative;top:-12px;}
.header_right{float:right;margin:40px 30px 0 0;}


#main{width:976px;margin:10px auto 0 auto;border:1px solid #84B1D2;}
#main_left{width:162px;text-align:left;float:left;word-wrap:break-word;}
#main_left .sub_area a{line-height:18px}

#main_middle{width:20px;background-color:black;float:left;}
#main_right{}

.box {margin:10px 0px;padding:5px;background-color:#C6DCEE;border:1px solid #A0C4DD;font-size:12px;font-weight:bold;color:#39749F;}
.box li{padding:5px;background-color:white;margin:5px 1px 1px 1px;color:#555555;font-weight:normal;}

.pager_list{padding:0px 0px 0px 10px;}

.page_nums{text-align:right;padding:5px 20px;}

.main_r_p2{min-height:220px;_height:220px;}

.data_header{height:30px;font-size:14px;padding-left:5px;margin:10px 0px 0px 0px;background:#6EA5CC url("../images/ver2/img_pager_list.png");overflow:hidden;clear:both;}
.data_header span{display:inline-block;line-height:30px;height:30px;}

.data_header .p_l {margin-top:4px;display:block;float:left;line-height:26px;height:26px;font-size:12px; }
.data_header .p_l a{color:white;font-weight:bold;display:inline-block !important}

.data_header .bg{background:url("../images/ver2/bg_lable.png") no-repeat bottom left;}
.data_header .bg a{padding:0 20px;display:block;height:26px;line-height:26px;background:url("../images/ver2/bg_lable_2.png") no-repeat top right;}

.data_header .act{background:url("../images/ver2/bg_lable_active.png") no-repeat bottom left;}
.data_header .act a{background:url("../images/ver2/bg_lable_active_2.png") no-repeat top right;color:#39749f;}


.data_header .bg1 {background:url("../images/ver2/bg_buttom.png") no-repeat bottom left;width:92px;}
.data_header .bg1 a{margin-left:35px}
.data_header .act1{background:url("../images/ver2/bg_buttom_active.png") no-repeat bottom left;}
.data_header .act1 a{color:#39749f;}

.data_header .bg2 {background:url("../images/ver2/bg_buttom_standard.png") no-repeat bottom left;width:92px;}
.data_header .bg2 a{margin-left:35px}
.data_header .act2{background:url("../images/ver2/bg_buttom_standard_active.png") no-repeat bottom left;}
.data_header .act2 a{color:#39749f;}

.data_list th{border-bottom:1px solid #CCCCCC;border-right:none;background:url("../images/ver2/bg_data_list.png") repeat-x;height:24px;line-height:24px}
.data_list td{border-right:1px solid #A0C4DD;background:white;height:42px;padding-left:6px;border-bottom:1px dashed #A0C4DD}
.data_list td.last{border-right:none}
.data_list tr.last td{border-bottom:none}
.data_list tr img{margin-left:6px}
.data_list tr.data_list_light *{background-color:#F3F8FC}
.data_list a{color:#39749F;font-size:14px;}
.data_list .time{font-size:11px;margin-top:3px;display:inline-block;color:#888}

.data_footer{height:30px;margin: 0px 0px 10px 0px;background:#6EA5CC url("../images/ver2/img_pager_list.png");overflow:hidden;clear:both;}

.block_list{background-color:white;min-height:20px;_height:20px;padding:3px 10px;}
.block_list li{overflow:hidden;width:64px;margin-right:4px;display:inline-block;*display:inline;wid\th:auto;overflow:hidden !important;height:20px;padding:0}


/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}
/* Container */
#simplemodal-container {height:420px; width:610px; background-color:#fff; border:3px solid #C6DCEE}
#simplemodal-container a.modalCloseImg {background:url(../images/ver2/x.gif) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer;}
#simplemodal-container #alert_page_con{height:403px;padding:8px;overflow-y:auto;overflow-x:hidden}
#alert_page_con{color:#39749F}
.modify_title{font-size:14px;text-align:center;margin-bottom:4px}
.modify_form{text-align:left;margin:4px 0 0;padding:2px 4px 0 4px}


/************************ forumTopicList ***************************/

.parent_area{height:21px;padding:8px 10px 0px 10px;background:url("../images/ver2/title_bg.gif") no-repeat;}
.parent_area a,.parent_area a span{color:#39749f;font-size:14px;font-weight:bold;text-decoration: none}

.sub_area{padding:5px 20px;border-bottom:1px dashed #999;background:url("../images/ver2/arrow_sm.gif") no-repeat 10px 11px;}
.sub_area a{text-decoration: none}

.open_off{background:#93bad8 url("../images/ver2/bg_open_off.png") repeat-y; cursor:pointer;}
#con_main{padding:0 15px 0 15px;width:100%;background:#FAFAFA;}

.main_area_title{margin:10px 0px;color:#39749F;font-size:16px;font-weight:bold}
.main_area_desc{margin:10px 0px;}
.main_manager{margin:10px 0px;}

.btn_post{float:left}

.data_header .search_box{text-align:right;padding:0px 20px;height:22px;margin:3px;}
.data_header .search_box input#keyword{height:22px;line-height:22px;border:0;font-size:14px;padding:0px 3px 0px 3px;color:#AAAAAA;background:white /*url("../images/ver2/vline.gif") no-repeat top right;*/}
.data_header .search_box select{height:22px;border:0;font-size:14px;padding:0px 0px 0px 5px;}


.online_icon{float:right;margin:-15px 5px 0px 0px;}
.icon_admin{background:url("../images/ver2/icon_admin.gif") no-repeat center left !important;padding:0 0 0 20px; margin:5px;color:#39749f;font-weight:normal}
.icon_winson{background:url("../images/ver2/icon_manager.gif") no-repeat center left !important;padding:0 0 0 20px; margin:5px;color:#39749f;font-weight:normal}
.icon_user{background:url("../images/ver2/icon_member.gif") no-repeat center left;padding:0 0 0 20px; margin:5px;color:#39749f;font-weight:normal}


/********************** forumReplyList *******************************/
.left { float:left }
.right { float:right }
#p_main{width:976px;margin:10px auto 0 auto;}
.p_title{margin:10px 0 16px 10px;}
.p_title2{width:976px;margin:8px auto 12px auto;padding-left:22px}
.p_title a{color:#39749f}

.p_post{margin:10px 0;border:1px solid #84B1D2;background-color:#C6DCEE;}
  .p_post .p_left{width:180px;text-align:center;float:left;}
      .p_left p{width:100px;margin:20px auto 20px auto;}
	  .p_left .topic_top_l{background:#A0C4DD;padding:0 8px}
      .p_left .p_info{ color:#39749F;text-align:left;line-height:20px;}
          .p_info .p_name{font-size:14px;}
          .p_info .p_lab{color:black;font-size:12px;}
          .p_info .p_v{font-size:12px;}
  .p_post .p_right{background:white;min-height:270px;_height:270px;width:790px;overflow-x:hidden;margin:0px;border-left:1px solid #84B1D2;}
  .p_post .p_right .quote{background:#F9F9F9 url(../images/ver2/icon_quote_s.gif) 6px 8px no-repeat;padding:18px 12px 10px 38px;width:78%;color:#777;border:1px solid #E8E8E8; -moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px; -moz-border-radius-topright:5px;margin:2px}
  .p_post .p_right .quote .end_bg{background:url(../images/ver2/icon_quote_e.gif) right bottom no-repeat;width:28px;height:27px;display:block;float:right}
  .p_post .p_right .quote .rep_title{height:24px;color:#006598}
  .p_post .p_right .quote .quote{width:88%}
      .p_right .topic_top_r{background:#C6DCEE;}
      .p_right .p_title{margin:6px 18px 16px 18px;color:#777;}
           .topic_title{clear:both;border-top:1px dashed #A0C4DD;border-bottom:1px dashed #A0C4DD;line-height:38px;height:38px;margin-top:4px}
           .p_title h1{float:left;font-size:18px;color:#39749F;display:inline}
           .p_title .p_pinfo{float:right;font-size:12px;font-weight:normal;color:#999999;}
           .text_i_s{border-right:1px solid #555;margin-right:2px;padding-right:6px}
           .text_i_b{font-size:20px;margin-right:32px;vertical-align:bottom;line-height:18px;height:18px}
           .text_i_s:hover,.text_i_b:hover{color:#CF0022}

      .p_right .p_reply_title{margin:4px 16px 4px;margin-bottom:10px;font-size:18px;font-weight:bold;color:#39749F;border-bottom:1px dashed #A0C4DD}
           .p_reply_title .p_pinfo{font-size:12px;font-weight:normal;color:#999999}
           .p_reply_title .p_pinfo .p_layer{color:black;font-weight:bold}

      .p_right hr{height:0px;border:0px;border-top:1px solid #84B1D2;margin:0px 20px 20px 20px;}
      .p_right .p_content{min-height:188px;_height:188px;margin:0px 20px 20px 20px;font-size:14px;line-height:20px;}
      .p_right .p_content *{overflow:auto}

      .p_right .p_main_btns{text-align:right;margin:50px 20px 20px 20px}
      .p_right .p_main_btns a#ajax_ding,.p_right .p_main_btns a#ajax_cai{width:50px;height:46px;display:inline-block;vertical-align:middle;padding-top:6px;text-align:center}
      .p_right .p_main_btns a#ajax_ding{background:url("../images/ver2/ding.png") no-repeat;}
      .p_right .p_main_btns a#ajax_cai{background:url("../images/ver2/cai.png") no-repeat;margin-left:8px}
      .p_right .p_main_btns a img{vertical-align:bottom}
      .p_right .p_main_btns a:hover{text-decoration: none}
	  .p_right .p_main_btns a.c_text{margin-left:8px;}
	  .p_right .read_auth_ol{border-left:1px solid #999;margin-left:22px;padding-left:22px}
	  .p_right .read_auth_ol:link,.p_right .read_auth_ol:visited{color:#999}
	  .is_delete{color:#999;font-style: italic}

  .p_bottom{background:#C6DCEE;padding:5px 8px;text-align:right;color:#39749F;}

.p_left .topic_top_l,.p_right .topic_top_r{padding:2px 8px;height:30px;line-height:10px;overflow:hidden}

.page{margin:10px 0;text-align:right;font-size:14px}

  .page input.input_goto{width:40px}
  .page img.to{margin-bottom:-7px;_margin-bottom:-4px}


.p_table_title{margin:3px;height:24px;text-align:right}
  .p_table_title .p_l{float:left;}
  .p_table_title img{margin-bottom:-7px;_margin-bottom:-4px}
  .p_table_title font{padding:5px;font-size:14px;color:white;}
.p_table_layout{background:white;padding:8px 38px;_padding-left:24px;text-align:center;border-left:4px solid #C6DCEE;border-right:4px solid #C6DCEE;border-bottom:6px solid #C6DCEE;}
.p_table_layout ul{clear:both;margin:auto;border;1px solid red}
.p_table_layout li{float:left;width:50px;margin:0px 20px;background:url("../images/ver2/head_small.png") no-repeat;height:50px;padding:8px 0 8px 56px;text-align:center;}
.p_table_layout li span.p_v{color:#999}

.p_reply{margin:18px 0px 8px 0px;border:1px solid #84B1D2;background-color:#C6DCEE}
  .p_reply .p_title{margin:0px;padding:8px 0px 5px 20px;background:#C6DCEE;}
  .p_reply textarea{width:99.1%;background:white;height:200px;border:0px;margin:2px 4px 4px 4px}
  .p_reply img{margin:0 0 2px 8px}
.submit_reply{margin:10px;}

.text_area{background:white}
.text_area ul,.text_area ol{margin-left:22px}


/*************memberInfo*********************/
.u_title{margin:10px 0 16px 10px;text-align:left}

.u_member{margin:10px;}
  .u_member .u_left{width:200px;text-align:center;float:left;margin-right:20px;border:1px solid #84B1D2;}
      .u_left p{width:100px;margin:20px auto 20px auto;}
	  .u_left .topic_tou_l{text-align;left;background:#A0C4DD;padding:8px 8px;font-size:14px;color:#39749F;}
      .u_left .u_info{ color:#39749F;text-align:left;line-height:20px;margin-left:24px;width:84%;}
          .u_info .u_name{font-size:14px;}
          .u_info .u_lab{color:black;font-size:12px;}
          .u_info .u_v{font-size:12px;}
  .u_member .u_right{_float:left;background:white;overflow-x:hidden;margin:0 0 0 0px;}
      .u_right .u_content{margin:0px 0px 0px 0px;font-size:14px;line-height:20px;}
		.content_header .p_l {margin-top:4px;display:block;float:left;line-height:26px;height:26px;width:92px; background:url("../images/ver2/bg_lable.png") no-repeat bottom left;}
		.content_header .p_l a{color:white;font-weight:bold;font-size:12px;}
		.content_header .act{background:url("../images/ver2/bg_lable_active.png") no-repeat bottom left;}
		.content_header .act a{color:#39749f;}


/* misc */
select{_width:420px;max-width:420px;width:420px;}
