*
{
    margin: 0;
    padding: 0;
    font: 12px/1.5 Tahoma,Helvetica,SimSun,sans-serif,Hei;
    font-family: 'ChunkFive Regular' , Tahoma, Helvetica;
    word-wrap: break-word;
}
.buttonCommon{
	height:25px;
width:60px;
}
ul li, .xl li {
    list-style: none outside none;
}
table {
    border-collapse: collapse;
    empty-cells: show;
}
body, input, button, select, textarea {
    color: #444444;
    font: 12px/1.5 Tahoma,Helvetica,SimSun,sans-serif,Hei;
}
textarea{
 resize:none;
}
.remind{
	padding-top:30px;
	width:70%;
	text-align:center;
margin-right:auto;
margin-left:auto;
}