	input{
		border: none;
		width: 85%;
		
		box-shadow:none;
	}
	
	table{
		border:1px solid; 
		width: 95%;
		height:90%;
	}
	
	td{
		border:1px solid; 
	}
	
	.tdWidth{
		width:70px;
	}
	
	.gwpxbTextarea{
		width:95%;
		height:100%;
	}
	
	.gaizhang{
	    border:none;
		text-align:center; 
	}
	
	.year{
		border:none;box-shadow:none;width:30px;
	}