	body{
		font-size:16px;
	}
	
	caption{
		border:none;
		box-shadow:none;
		text-align:center;
	}
	
	
	input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],  input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
		border: none;
		width: 70%;	
		box-shadow:none;
	}
	
	 input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
	{
		border-color:none;
		box-shadow:none;
	}
	
	input[type="date"]{
		border: none;
		width: 90px;	
		box-shadow:none;
	}
	
	input[type="date"]:focus{
		border: none;
		width: 90px;	
		box-shadow:none;
	}
	
	input[type="month"]{
		border: none;
		width: 40px;	
		box-shadow:none;
	}
	
	input[type="month"]:focus{
		border: none;
		width: 40px;	
		box-shadow:none;
	}
	
	table{
		border:1px solid; 
		width: 95%;
		height:90%;
	}
	
	textarea{
		border:none;
		box-shadow:none;
		width:95%;
		height:95%
	}
	
	textarea:focus{
		border:none;
		box-shadow:none;
		width:95%;
		height:95%
	}
	
	td{
		border:1px solid; 
	}
	
	.borderNone{
		border:none;
	}
	
	.tdWidth{
		width:70px;
	}
	
	.gaizhang{
	    border:none;
		text-align:center; 
	}
	
	.textRight{
		text-align:right;
	}
	
	.textCenter{
		text-align:center;
	}
	
	.title{
		text-align: center;
		height:50px;
	}
	
	.bottomBorder{
		border-right: none;
		border-left: none;
		border-top: none;
	}
	
	.NoBorderTable{
		border:none;
		width:40%;
		position:relative;
		margin-top: 10%;
		margin-left: 15%;
		font-size:18px;
	}
	
	.firstTitle{
		position:relative;
		margin-top: 5%;
		margin-left:15%;
	}
	
	.div1{
		position:relative;
		margin-top:10%;
		margin-left:40%;
	}
	
	.div2{
		position:relative;
		margin-top:10%;
		margin-left:15%;
		font-size:20px;
		width:55%;
	}
	
	.div3{
		position:relative;
		margin-top:5%;
		font-size:20px;
	}
	
	
	
	
	
	
	
	
	
	
	